
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    font-style: normal;
    color: #808080;
    background: #F6F6F6;
}

.img {
    max-width: 100%;
    transition: all 0.3s ease-out 0s;
}

.f-left {
    float: left
}

.f-right {
    float: right
}

.fix {
    overflow: hidden
}

a,
.button {
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

a:focus,
.button:focus,
{
text-decoration: none;
outline: none;
box-shadow: 0;
}

.btn-check:focus+.btn,
.btn:focus {
    box-shadow: 0 !important;
}

a:focus,
a:hover,
.portfolio-cat a:hover,
.footer -menu li a:hover {
    text-decoration: none;
}

a,
button {
    outline: medium none;
}

button:focus,
input:focus,
input:focus,
textarea,
textarea:focus {
    outline: 0
}

.uppercase {
    text-transform: uppercase;
}

.capitalize {
    text-transform: capitalize;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Poppins', sans-serif;
    color: #4D4D4D;
    margin-top: 0px;
    font-style: normal;
    font-weight: 700;
    text-transform: capitalize;
    ;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: inherit;
}

h1 {
    font-size: 40px;
    font-weight: 500;
}

h2 {
    font-size: 35px;
}

h3 {
    font-size: 28px;
}

h4 {
    font-size: 22px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 16px;
}

ul {
    margin: 0px;
    padding: 0px;
}

li {
    list-style: none
}

p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    color: #808080;
    margin-bottom: 0;
}

hr {
    border-bottom: 1px solid #eceff8;
    border-top: 0 none;
    margin: 30px 0;
    padding: 0;
}

label {
    color: #7e7e7e;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
}

*::-moz-selection {
    background: #d6b161;
    color: #fff;
    text-shadow: none;
}

::-moz-selection {
    background: #444;
    color: #fff;
    text-shadow: none;
}

::selection {
    background: #444;
    color: #fff;
    text-shadow: none;
}

*::-moz-placeholder {
    color: #CCCCCC;
    font-size: 14px;
    opacity: 1;
}

*::placeholder {
    color: #CCCCCC;
    font-size: 14px;
    opacity: 1;
}

.theme-overlay {
    position: relative
}

.theme-overlay::before {
    background: #1696e7 none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.6;
    position: absolute;
    top: 0;
    width: 100%;
}

.separator {
    border-top: 1px solid #f2f2f2
}

/* button style */
a {
    text-decoration: none;
}

/*
.btn {
	-moz-user-select: none;
	background: #FFC215 none repeat scroll 0 0;
	border-radius: 4.74693px;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 600;
	font-size: 13.0541px;
	line-height: 20px;
	text-align: center;
	color: #03314B;
	cursor: pointer;
	display: inline-block;
	margin-bottom: 0;
	padding: 12px 30px;
	text-transform: uppercase;
	touch-action: manipulation;
	transition: all 0.3s ease 0s;
	vertical-align: middle;
	white-space: nowrap;
	font-style: normal;

}

*/


.btn {
    background: #FFC215 none repeat scroll 0 0;
    border-radius: 4.74693px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    /* identical to box height, or 150% */

    text-align: center;

    /* #03314B */

    color: #03314B;
    padding: 20.5px 50.5px;
    touch-action: manipulation;
}


.btn:hover {
    color: #FFF;
    background: #03314B;
    transition: 0.5s;

}

.breadcrumb>.active {
    color: #888;
}

.owl-carousel .owl-nav div {
    background: rgba(255, 255, 255, 0.8) none repeat scroll 0 0;
    height: 40px;
    left: 20px;
    line-height: 40px;
    opacity: 0;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.3s ease 0s;
    visibility: hidden;
    width: 40px;
}

.owl-carousel .owl-nav div.owl-next {
    left: auto;
    right: 20px;
}

.owl-carousel:hover .owl-nav div {
    opacity: 1;
    visibility: visible;
}

.owl-carousel .owl-nav div:hover {
    background: #2B96CC;
    color: #fff
}

/* scrollUp */
#scrollUp {
    background: #7DBA2F;
    height: 35px;
    width: 35px;
    right: 50px;
    bottom: 77px;
    color: #fff;
    font-size: 20px;
    text-align: center;
    border-radius: 50%;
    font-size: 20px;
    line-height: 34px;
}

#scrollUp:hover {
    background: #444;
}


/** Custom CSS **/

/*
.header-top {
	padding: 18px 0;
}
*/
.menu-svg {
    margin-left: -18px;
}

.transparent-header-lg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    border-bottom: 0.9px solid #808080;
}

.main-menu ul li {
    position: relative;
    display: inline-block;
    //margin-left: 70px;
}

.main-menu ul li a {
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 33px;
    text-align: center;
    color: #FFFFFF;
    display: inline-block;
    padding: 45px 35px;
}


.main-menu ul li:hover>a {
    color: #FFC215;
    background-color: rgba(255, 255, 255, 0.05);
}


.main-menu .first-menus:hover>a {
    background: none;
}

.main-menu .first-menus:hover>a:after {
    background: none;
}

.main-menu ul li:hover>a:after {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    bottom: 0;
    height: 3px;
    background: #FFC215;
}

.submenu li:hover>a:after {
    background: transparent !important;
}

.main-menu ul li .submenu {
    position: absolute;
    background: #FFF;
    width: 275px;
    //padding: 15px 0;
    border-top: 4px solid #FFC215;
    top: 110%;
    left: -50px;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
    box-shadow: 0px 40px 60px rgba(0, 0, 0, 0.07);
    border-radius: 0px 0px 8px 8px;

}

.main-menu ul li:hover>.submenu {
    opacity: 1;
    visibility: visible;
    top: 97%;
}

.main-menu ul li .submenu li {
    display: block;
    margin: 0;
}

.main-menu ul li .submenu li a {
    display: block;
    padding: 15px 25px;
    border-radius: 0px 0px 8px 8px;
    text-align: center;
    font-size: 18px;
    color: #03314B ! important;
    //opacity: 0.5;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
}

.main-menu ul li .submenu li:hover>a {
    color: #03314B;
    opacity: 0.9;
    background: #F2F5F6;
}

.main-menu ul li:last-child {
    //margin-right: 30px;
}


.slider-active .slick-dots {
    position: absolute;
    bottom: 13px;
    right: 0;
}

.slider-active .slick-dots li {
    display: inline-block;
    margin: 0 10px;
}

.slider-active .slick-dots li button {
    background: no-repeat;
    border: 0;
    color: #FFF
}

.slick-dotted.slick-slider {
    margin-bottom: 0;
}

/** desktop css **/


.section-1-area-wrapper {
    max-width: 1620px;
    padding-left: 145px;
    position: absolute;
    top: 50%;
    //left: 15%;
    transform: translate(-0%, -40%);
}

.section-1-area-wrapper h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 70px;
    color: #FFFFFF;
    margin-bottom: 40px;
}

.section-1-area-wrapper p {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
    max-width: 650px;
    margin-bottom: 40px;


}

.section-3-area {
    background: #F6F6F6;
    padding: 145px 0;
    padding-bottom: 28px;
}


.section-3-area-1st {
    //padding-right: 40px;
}

.section-3-area-2nd {
    padding-left: 70px;
    position: relative;

}


.section-3-area h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 1.17;
    color: #4D4D4D;
    margin-bottom: 40px;
    text-transform: unset;
}

.section-3-area p {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    color: #808080;
    margin-bottom: 35px;
}

.section-3-grid {
    background: #FFF;
    border-top: 4px solid #FFC215;
    border-radius: 8px;
    padding: 35px 50px 25px 60px;
    //padding: 45px 70px 50px 70px;
    //margin-left: 36px;
    margin-bottom: 40px;
}

.sect-3-odd {
    padding-right: 18px;
}

.sect-3-even {
    padding-left: 18px;
}


.section-3-grid h5 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 1.5;
    color: #4D4D4D;
    margin-top: 26px;
    margin-bottom: 16px;
}

.section-3-grid p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #808080;
}

.section-4-area {
    background-image: url("../../img/package.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    //min-height: 640px;
    //padding: 120px 0 148px 0;
    margin-top: 100px;
    height: 1130px;
    padding: 135px 0 230px 0;
}

.section-4-area h2 {

    margin-bottom: 120px;
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 70px;
    color: #FFFFFF;
}

.section-4-area .package {
    background: rgba(0, 0, 0, 0.7);
    border: 0.56321px solid #FFFFFF;
    box-shadow: 0px 2.25284px 39.4247px rgba(0, 0, 0, 0.07);
    //backdrop-filter: blur(57.9023px);
    border-radius: 9px;
    padding: 24px 68px 42px 68px;
    //max-width: 315px;
    transform: scale(1);
    transition: .5s;
}



.slider-active-pricing-wrap {
    //	margin: 0 -25px;
}

.slider-active-pricing .slick-list {
    //padding-left: 30px !important;
}

.section-4-area .package h5 {
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    line-height: 34px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 0;
}

.section-4-area .package span {
    display: inline-block;
}

.section-4-area .package .pk-1 {

    margin-top: 70px;
    font-style: normal;
    font-weight: 275;
    font-size: 105px;
    line-height: 37px;
    letter-spacing: -0.06em;
    color: #FFFFFF;
}

.section-4-area .package .pk-2 {
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 13px;
    color: #FFFFFF;
    opacity: 0.7;
    margin-left: 5px;
}

.section-4-area .package .pk-3 {
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 37px;
    color: #FFFFFF;
    display: inline-block;
    margin-top: 40px;
}

.section-4-area .package .pk-4 {
    font-style: normal;
    font-weight: 200;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 18px;
    color: #FFFFFF;
    opacity: 0.7;
    margin-left: 10px;
}

hr {
    border: 0.730113px solid #FFFFFF;
    margin: 41px 0 41px 0;
}

.section-4-area .package .pk-5 {
    font-style: normal;
    font-weight: 200;
    font-size: 9px;
    line-height: 17px;
    color: #FFFFFF;
    opacity: 0.7;

}

.section-4-area .package .pk-6 {
    font-style: normal;
    font-weight: 200;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 18px;
    color: #FFFFFF;
    opacity: 0.7;
    display: block;
}

.section-4-area .package .pk-7 {
    margin-top: 10px;
    font-style: normal;
    font-weight: 200;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 18px;
    color: #FFFFFF;
    opacity: 0.7;


}

.section-4-area .package .pk-8 {
    margin-top: 10px;
    font-style: normal;
    font-weight: 200;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 18px;
    color: #FFFFFF;
    opacity: 0.7;


}

.pk-btn {
    margin-top: 40px;
}

.pk-btn .btn {
    width: 100%;
    padding: 15px 20px;
}

.moz-value {
    opacity: 0;
    display: none;
    transition: .5s;
 
}


.section-4-area .package:hover {
    transform: scale(1.1);
    z-index: 1;
    transition: .5s;
    margin-top: -50px;
   
}

.section-4-area .package:hover .moz-value {
    opacity: 1;
    display: block;
    transition: .5s;



}


.section-5-area {
    padding-top: 135px;
    padding-bottom: 60px;
}

.section-5-area h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 70px;
    color: #4D4D4D;
    margin-bottom: 30px;

}

.section-5-area .sml-filter-1 {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #4D4D4D;
    opacity: 0.7;
}

.section-5-area .sml-filter {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    text-align: right;
    color: #4D4D4D;
    margin-bottom: 15px;
}

.section-5-area .col-lg-4 {
    //padding-right: 130px ! important;
}

.section-5-area .slick-list {
    padding-left: 0 !important;
}

select {
    //-webkit-appearance: none;
    //-moz-appearance: none;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #03314B;
    background: #FFF;
    outline: 0;
    border: 2px solid #FFF;
    padding: 10px 15px 7px 15px;
    box-shadow: 0px 24.9768px 37.4652px rgba(0, 0, 0, 0.07);

}


.section-5-area .slick-slide {
    //padding-left: 15px;
    padding-right: 100px;
    //width: 410px !important;
}

.sl-snd {
    margin-left: 17px;
    background: #03314B;
    color: #FFF;
}

.test-icon {
    position: relative;
    left: 40px;
    top: 50px;
    border: 2px solid #FFC215;
    border-radius: 50%;
    width: 118px;
    height: 118px;
}

.dart-box {
    padding: 80px 43px 40px 43px;
    border: 0.97854px solid #FFC215;
    border-radius: 8px;
}

.dart-box .fas {
    color: #FFC215;
}

.dart-box .date {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #808080;
    margin-top: 8px;
    margin-bottom: 30px;

}

.dart-box .date-2 {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #808080;
    //margin-bottom: 43px;
}

.dart-box .date-3 {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #4D4D4D;
}


.dart-box .date-4 {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #808080;


}

.testi-img {
    width: 117px;
    position: relative;
    top: 55px;
    left: 25px;
}

.border-r {
    border-right: 0.9px solid #808080
}


.call_h:hover {
    background: #FFC215;
    transition: 0.3s;

}

.call_h:hover .mobile-text {
    color: #03314B;
}

.call_h:hover .mobile-number {
    color: #03314B;

}

.mobile-call {
    display: grid;
    place-content: center;
    padding: 33px 0;
}

.mobile-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: right;
    color: #FFFFFF;
}

.mobile-number {
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    color: #FFFFFF
}


.sml-language {
    // position: absolute;
    //top: 42px;
    //right: 15px;
    text-align: right;
}

.switch {
    position: relative;
    display: inline-block;
}

.switch>span {
    position: absolute;
    top: 10px;
    pointer-events: none;
    font-family: 'Helvetica', Arial, sans-serif;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .06);
    width: 50%;
    text-align: center;
}

input.check-toggle-round-flat:checked~.off {
    color: #03314B;
}

input.check-toggle-round-flat:checked~.on {
    color: #fff;
}

.switch>span.on {
    left: 0;
    //padding-left: 2px;
    padding-left: 17px;
    color: #03314B;
}

.switch>span.off {
    right: 0;
    padding-right: 4px;
    color: #fff;
}

.check-toggle {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden;
}

.check-toggle+label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input.check-toggle-round-flat+label {
    padding: 2px;
    width: 90px;
    height: 33px;
    background-color: #3B3D33;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
    border-radius: 60px;
}

input.check-toggle-round-flat+label:before,
input.check-toggle-round-flat+label:after {
    display: block;
    position: absolute;
    content: "";
}

input.check-toggle-round-flat+label:before {
    top: 2px;
    left: 2px;
    bottom: 2px;
    right: 2px;
    background-color: #3B3D33;

    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
    border-radius: 60px;
}

input.check-toggle-round-flat+label:after {
    top: 0;
    left: 0;
    bottom: 0;
    width: 45px;
    background-color: #FFC215;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    border-radius: 16px;
    -webkit-transition: margin 0.2s;
    -moz-transition: margin 0.2s;
    -o-transition: margin 0.2s;
    transition: margin 0.2s;
}

input.check-toggle-round-flat:checked+label {}

input.check-toggle-round-flat:checked+label:after {
    margin-left: 44px;
}


.section-6-area {
    padding-top: 60px;
    padding-bottom: 60px;
}

.section-6-bg {
    background-image: url(../../img/map.png);
    min-height: 1050px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    display: grid;
    place-content: center;
     
}

.section-6-area .container {
    //box-shadow: 0px 6px 60px rgba(0, 0, 0, 0.06);


}

.sml-bg-opacity {
    background-color: rgba(3, 49, 75, 0.03);
    border-radius: 8px;
    padding: 98px 161px 110px 161px;
}

.section-6-wrapper {}

.section-6-wrapper h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 70px;
    text-align: center;
    color: #4D4D4D;
    margin-bottom: 34px;
}

.section-6-wrapper p {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #808080;
    max-width: 1068px;
    margin: 30px auto 110px auto;
}

#lang,
#area {
    width: 620px;
    height: 102px;
    margin: 12px;
    text-align: center;
    border-radius: 8px;
    font-size: 24px;
    font-weight: 600;
}

#area {
    background: rgba(255, 255, 255, 0.7);
    opacity: 0.7;
}


.section-7-area {
    padding-bottom: 160px;
}

//.section-7-wrapper {
display: grid;
place-content: center;
}

.faq-heading h2 {
    font-style: normal;
    font-weight: 900;
    font-size: 217.38px;
    line-height: 326px;
    color: #03314B;
    opacity: 0.2;
}


.sml-q {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    font-size: 663.956px;
}

//.faq-heading {
display: grid;
place-content: center;
background-repeat: no-repeat;
background-position: center center;
background-size: contain;
height: 600px;
}

.faq-heading {}

.accordion {

    display: flex;

    align-items: center;
    justify-content: space-between;
    padding: 36px 16px 36px 60px;
    background: #EFF0F1;
    cursor: pointer;
    width: 100%;
    border: none;
    outline: none;
    //transition: 0.4s;
    text-align: left;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #03314B;
    //opacity: 0.9;
    border-radius: 8px;
    //margin-bottom: 30px;
    margin-top: 30px;

}

.section-7-area .active,
.accordion:hover {
    background-color: #F1F1F1;

}

.active {
    margin-bottom: 0;
}

.accordion:after {
    content: '\002B';
    position: relative;
    background-color: #D9DEE0;
    color: #03314B;
    float: right;
    border-radius: 50%;
    font-size: 36px;
    padding: 9px;

}

.section-7-area .active:after,
.faq_area_content_2 .active:after {
    content: "\2212";
}

.panel {

    padding: 0 18px;
    background: #F1F1F1;
    max-height: 0;
    overflow: hidden;
    //transition: max-height 0.2s ease-out;
    //margin-top: -40px;
}

.panel p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #808080;
    opacity: 0.9;
    margin-bottom: 12px;
    max-width: 700px;
    padding-left: 40px;
}


label {
    font-size: 0.85em;
    margin-left: 12px;
}

input[type=text],
input[type=email],
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    padding-top: 26px;
    padding-bottom: 23px;
    padding-left: 30px;
}


.section-8-wrapper input[type=submit] {

    background-color: #CCCCCC;
    border-radius: 8px;
    background-repeat: no-repeat;
    background-position: right;
    border: 0;
    padding: 21px 24px;
    transition: all ease-in-out 0.1s;
    display: inline-block;
    text-align: center;
    font-style: normal;
    font-weight: 600;
    line-height: 17px;
    color: #808080;
    width: 100%;
    font-size: 22px;
    line-height: 33px;
    color: #808080;
}

.section-8-area .container {

    
}

.section-8-wrapper {
    margin-bottom: 127px;
    background: #EFF0F1;
    border-radius: 8px;
}

.section-8-wrapper-first {
    //border-right: 2px solid  rgba(0, 0, 0, 0.1);
    padding-top: 65px;
    padding-bottom: 72px;
}

.section-8-wrapper-2nd {
    padding-top: 65px;
    padding-bottom: 55px;
    padding-left: 160px;
    padding-right: 160px;
}

//.sml-email-info {
background-image: url("../../img/contact-bg.png");
background-repeat: no-repeat;
background-position: bottom;
background-size: contain;
min-height: 426px;

}

.sml-email-info {
    margin-bottom: 36px;
}

.section-8-wrapper-first h5 {
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    color: #4D4D4D;
    margin-bottom: 14px;
}

.section-8-wrapper-first p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #4D4D4D;
    max-width: 494px;
    margin-bottom: 80px;
}

.section-8-wrapper .rect-icon {
    position: relative;

}

.section-8-wrapper .rect-icon img {
    background-repeat: no-repeat;
    background-position: left;
    position: absolute;
    top: -40px;
    left: -50px;
}

.section-8-content {
    position: relative;
}

.sml-email-info .h5 {
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    color: #03314B;
    text-transform: lowercase;
    text-decoration: underline;
}

.btn-2 {
    background-color: #CCCCCC;
    border-radius: 8px;
    background-repeat: no-repeat;
    background-position: right;
    border: 0;
    padding: 21px 24px;
    transition: all ease-in-out 0.1s;
    display: inline-block;
    text-align: center;
    font-style: normal;
    font-weight: 600;
    line-height: 17px;
    color: #808080;
    width: 100%;
    font-size: 22px;
    line-height: 33px;
    color: #808080;
}

.btn-2:hover {
    color: #808080;
}

.main-footer {
    background-color: #EAECED;
    padding-top: 90px;
    padding-bottom: 93px;
}

.footer-title {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    text-transform: uppercase;
    color: #808080;
    margin-bottom: 30px;
}

.main-footer ul {}

.main-footer ul li a {
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    text-decoration-line: underline;
    color: #03314B;

}

.info-text p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #4D4D4D;
    margin-top: 36px;
}

.fot-m a {
    display: inline-block;
    margin-bottom: 20px;
}

.fa-inverse {
    color: #4D3A06;
}

.footer-menu-social a {
    color: #FFC215;
}

.footer-social-below {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #4D4D4D;
    margin-bottom: 10px;
}

.footer-copy {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: right;
    color: #4D4D4D;
}

.footer-below {
    margin-top: 125px;
}

.foot-g {
    display: grid;
    //align-items: center;
    align-items: end;
}

.faq_area {
    padding-top: 100px;
    padding-bottom: 100px;
    background: #F7F7F7;
    border-bottom: 1px solid #3333;
}

.faq_area h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 70px;
    text-align: center;
    color: #4D4D4D;
    margin-bottom: 23px;
}

.faq_area p {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #808080;
    opacity: 0.7;
    max-width: 1020px;
    margin: 0 auto;
}

.faq_area_content {
    background: #FAFAFA;
}

.faq_area_content_2 {
    max-width: 815px;
    margin: 110px auto 100px auto;
}


.faq_type {
    margin-bottom: 65px;
}

#faq_type {
    width: 100%;
    height: 102px;
    text-align: center;
    border-radius: 8px;
    text-align: left;
    padding: 36px 16px 36px 60px;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #03314B;
}

.faq_type select {
    border: 0.809418px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0px 40px 60px rgba(0, 0, 0, 0.03);
    border-radius: 8px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #03314B
}

.breadcrumb-item a {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #808080;
}

.breadcrumb-item+.breadcrumb-item::before {
    content: var(--bs-breadcrumb-divider, ">");
}

.active:after {
    content: "";
}

.breadcrumb>.active {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #03314B;
}

.breadcrumb_area {
    padding-top: 165px;
}

.transparent-header-lg-faq {
    background-image: url(../../img/top-banner-img.jpg);
}

.breadcrumb {
    margin-bottom: 35px;
}

.section-8-area .section-8-wrap {
    background: transparent;
}

.section-8-wrap .section-8-wrapper {
    background: #EFF0F1;
    margin-bottom: 0;
}

.con-scrol-btn {
    padding-top: 60px;
    padding-bottom: 60px;
}


.office_area h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    line-height: 70px;
    color: #4D4D4D;
    text-align: center;
    margin-bottom: 60px;
}

.sml-branch {

    padding: 70px 82px 70px 64px;
}

.sml-branch-bg {
    background: #FFFFFF;
}

.sml-branch h5 {
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    color: #4D4D4D;
    margin-bottom: 37px;
}

.sml-branch p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: #808080;
}


.office_area-2 {
    padding-top: 100px;
    padding-bottom: 123px;
}

.office_area-2 h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    line-height: 70px;
    color: #4D4D4D;
    text-align: center;
    margin-bottom: 60px;
}

.terms_area {
    padding-top: 103px;
    padding-bottom: 112px;
}

.terms_area h4 {
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 40px;
    color: #4D4D4D;
    margin-bottom: 25px;
}

.terms_area p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #808080;
    margin-bottom: 30px;
}

.terms_area ul {
    margin-left: 75px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.terms_area ul li {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #808080;
    list-style: disc;
}

.user-review {
    padding-top: 54px;
    padding-bottom: 153px;
}

.user-review .col-lg-3 {
    width: 33.33%;
    //	padding-right: 197px !important;
}

//.p-198 {
padding-left: 98.5px;
padding-right: 98.5px;
}


.about_area .c {
    padding-top: 125px;

}

.about_area h3 {
    font-style: normal;
    font-weight: 275;
    font-size: 60px;
    line-height: 70px;
    color: #03314B;
    margin-bottom: 20px;
}

.about_area p {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #808080;
    max-width: 675px;
}

.about_area {
    background-color: #FFFFFF;
    padding-top: 125px;
}

.abt-bg-clr {
    background-color: #F6F6F6;
}

.our_vission {
    margin-left: 145px;
}

.story_area {
    background-color: #03314B;
    //padding-bottom: 175px;
    //padding-bottom: 120px;
    padding-bottom: 80px;
}

.story_area_content {
    max-width: 690px;
    margin: 0 auto;
   // padding-top: 50px;
   padding-top: 10px;
}

.pl-per {
    padding-left: 7.5%;
}

.pb-250 {
    padding-bottom: 250px;
}

.pt-250 {
    padding-top: 250px;
}

.story_area_content h5 {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #FFC215;
    margin-bottom: 12px;
}

.story_area_content h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 70px;
    color: #FFFFFF;
    margin-bottom: 12px;

}

.story_area_content p {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
}


.story-bg {
    margin-top: -98px;
}

.trust_area {
    padding-top: 138px;
    padding-bottom: 108px;
}

.trust_area h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 70px;
    color: #03314B;
    text-transform: unset;
}

.trust_image {
    max-width: 1355px;
    margin: 100px auto 0 auto;
}

.trust_image .col-lg-3 {
    margin-bottom: 130px;
}

.trust_image img {
    filter: grayscale(100%);

}

.c_form_main {
    background: #FFFFFF;
    padding-bottom: 104px;
}

.c_form_main h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 70px;
    color: #CCCCCC;
    text-align: left;
}

.dot_ind {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #03314B;
    text-align: left;
    margin-bottom: 60px;
}

.dot_ind_2 {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #FFC215;
    margin-right: 10px;
    vertical-align: middle;
}

.c_form_main .container {
    background-color: #F9F9F9;
    border-radius: 14px;
    padding-top: 42px;
    padding-bottom: 42px;
}

.c_form_main label {
    margin-left: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #CCCCCC;
}

.c_form_main select {
    width: 100%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    //line-height: 34px;
    line-height: 1;
    color: #03314B;
    box-shadow: none;
    padding-top: 0;
    padding-bottom: 11px;
    padding-left: 30px;
    border-radius: 8px;
}

.c_form_main form {
    max-width: 831px;
    margin: 0 auto;
}

.c_form_main .form-control:focus {
    border: none;
    box-shadow: none;
}

.c_form_main input[type=text],
input[type=email],
textarea {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #03314B;
}

.c_form_main input[type=text],
input[type=email],
textarea {
    margin-top: 0;
    padding-top: 0;
}

.c_form_main label {
    margin-left: 20px;
    margin-top: 16px
}

.c_form_main input[type=text],
input[type=email],
textarea {
    border: 1px solid #fff;
}

.c_form_main .form-group {
    background-color: #FFF;
    border-radius: 8px;
}

.c_form_main .btn-2 {
    margin-top: 31px;
}

.c_form_main .btn-2:hover {
    color: #03314B;
}

.sml_success {
    padding-top: 313px;
    background: #FFF;
}

.sml_success_bg {
    background-image: url(../../img/sml-success.png);
    background-repeat: no-repeat;
    background-position: center;
}


.sml_success h2 {
    font-style: normal;
    font-weight: 275;
    font-size: 60px;
    line-height: 70px;
    color: #4D4D4D;
}

.sml-green {
    color: #289800;
}

.sml_success p {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #808080;
}

.con-scrol-btn-2 {
    padding-top: 160px;
    padding-bottom: 108px;
    background: #FFF;
}

.success_next {
    background: #FFF;
    padding-bottom: 87px;
}

.success_next .container {
    background-color: #F9F9F9;
    padding-top: 128px;
    padding-bottom: 93px;
    border-radius: 8px;
}

.success_next h3 {
    font-style: normal;
    font-weight: 275;
    font-size: 54.1715px;
    line-height: 63px;
    text-align: center;
    color: #4D4D4D;
    opacity: 0.9;
    margin-bottom: 47px;
}

.success_next p {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #808080;
    margin-bottom: 35px;
}

.success_next img {
    width: 460px;
}

.sml_phone {
    padding-top: 430px;
    padding-bottom: 305px;
}

.sml_phone h2 {
    font-style: normal;
    font-weight: 275;
    font-size: 60px;
    line-height: 70px;
    text-align: center;
    color: #4D4D4D;
}

.std-pack-info {
    padding-top: 65px;
    padding-bottom: 156px;
}

.std-pack-info h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 70px;
    text-align: center;
    color: #4D4D4D;
    margin-bottom: 23px;
}

.std-pack-info p {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #808080;
    opacity: 0.7;
}

.std_pack_area_container {
    padding-top: 150px;
    padding-bottom: 150px;
    margin-top: 0;
}

.std_pack_area .section-4-area {
    height: 900px;

}

.std_pack_faq {
    padding-top: 160px;
}

.std_pack_content {
    padding-top: 227px;
    padding-bottom: 227px;
    background-color: #F1F1F1;
}

.std_pack_content h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 70px;
    text-align: center;
    color: #4D4D4D;
    margin-bottom: 24px;
}

.std_pack_content p {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #808080;
    opacity: 0.7;
    max-width: 1130px;
    margin: 0 auto;
}

.brd-white {
    background-color: #FFFFFF;
}

.brd-gray {
    background-color: green;
}


.self_care_area {
    background-color: #FFF;
}

.self_care_area h2 {
    font-style: normal;
    font-weight: 275;
    font-size: 60px;
    line-height: 70px;
    color: #4D4D4D;
    opacity: 0.9;
    margin-bottom: 40px;
}


.self_care_area p {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #808080;
    margin-bottom: 40px;
}

.self_care_area .self_care_url {
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    color: #03314B;
    margin-bottom: 210px;
    display: block;
}


.mr-12 {
    margin-right: 12px;
}

.bg-care {
    background-color: #03314B;
}

.care-wrapper {
    padding-top: 55px;
    padding-bottom: 125px;
    padding-left: 131px;
    padding-right: 148px;
}

.care_box h2 {
    color: #FFFFFF;
    opacity: 0.9;
    font-style: normal;
    font-weight: 275;
    font-size: 60px;
    line-height: 70px;
    margin-top: 58px;
    padding-bottom: 50px;
    border-bottom: 1.04794px solid rgba(255, 255, 255, 0.4);
    margin-bottom: 0;
}

.care_box {
    margin-top: 90px;
    border: 1.04794px solid rgba(255, 255, 255, 0.4);
    box-shadow: 0px 18px 30px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
}

.care_box form {
    padding: 66px 115px 88px 105px;
}

.care_box .btn-2 {
    border-radius: 8px;
    background-color: #355A6F;
    color: #03314B;
    opacity: 0.5;
}

.care_text_link {
    text-align: right;
    display: block;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    text-align: right;
    color: #CCCCCC;
    margin-top: 13px;
    margin-bottom: 16px;
}

.care_text_link:hover {
    color: #FFC215;
    transition: 0.3s;
}

.btn-2:hover {
    background-color: #FFC215;
    transition: 0.3s;
    opacity: 1;
}

.office_label_content {
    position: relative;
    background: #FFF;
}

.rect-icon-office img {
    background-repeat: no-repeat;
    background-position: left;
    position: absolute;
    top: 65px;
    left: 46px;
}

.sml-tag {
    position: relative;
}

.care_box form {
    text-align: left;
}

.care_box input[type=text],
.care_box input[type=email],
.care_box textarea {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    border: none;
}

.test-slider-active {
   margin-top: 85px;
}


.section-5-area select {
    box-shadow: none;
    border: 0;
    width: 126px;
}

.section-5-area option {
    line-height: 50px;
}

select,
#area {
    background-image: url(../../img/slt.png);
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}


.sl-snd {
    background-image: url(../../img/slt-2.png);
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    -webkit-appearance: none;
    -moz-appearance: none;
}

#lang,
#area {
    background-position: right 12.75rem center;
    //font-size: 30px;
}

.sml_rm {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #03314B;
}

.sml_rm:hover {
    color: #03314B;
}

.sml-rm-text {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #03314B;
    display: block;
    margin-bottom: 43px;

}

.sml-rm-text:hover {
    color: #03314B;
}


.c_form_p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #808080;
    margin-bottom: 15px;
    margin-top: 30px;
}

.c_form_p a {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #03314B;
}

.ml-17 {
    margin-left: 17px;
}

.sml-wht {
    background-color: #FFF;
}


.form-group {
    background-color: #FFF;
    border-radius: 8px;
}


.f-rt {
    float: right;
}

.dropbtn {
    background: #03314B;
    color: #FFF;
    padding: 9px;
    font-size: 21px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    padding-left: 17px;
    padding-right: 17px
}

.dropbtn_2 {
    background: #FFF;
    color: #03314B;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #ffffff;
    min-width: 175px;
    z-index: 1;
    text-align: center;
    box-shadow: 0px 40px 60px rgba(0, 0, 0, 0.07);

}

.dropdown-content-dis {
    min-width: 175px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1;
    color: #03314B;
    opacity: 0.5;
}


.f-rt .dropdown-content a { 
    opacity: 1;
}

.rat a {
    opacity: 1;
}

.dropdown-content a:hover {
    background: #F6F6F6;
    color: #03314B;
    opacity: 1;
}

.dropdown:hover .dropdown-content, .mz-show {
    display: block;
}


#myInput {
    box-sizing: border-box;
    background-image: url('../../img/searchicon.png');
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
    border-radius: 0;
}

#myInput2 {
    box-sizing: border-box;
    background-image: url('../../img/searchicon.png');
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
    border-radius: 0;
}



#myInput3 {
    box-sizing: border-box;
    background-image: url('../../img/searchicon.png');
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
    border-radius: 0;
}



.mz-sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.dropbtn {
    margin-top: 0;
}

.section-6-wrapper .dropbtn {
    background: #FFF;
    color: #03314B;
    padding: 35px 253px;
    box-shadow: 0px 6px 60px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
}

.section-6-wrapper .dropdown {
    display: inline-block;
}

.section-6-wrapper .mz-vis {
    overflow: visible;
}

.dropdown-content-dis-1 {
    min-width: 100% !important;
   // top: 92px;
      top: -34px;
}

.dropdown-content-dis-2 {
    min-width: 97.5% !important;
    //top: 92px;
    top: -34px !important;
}


.terms_area .container {
    max-width: 1490px;
}

.pagination {
    justify-content: flex-end;
}

.page-link {
    background-color: #F6F6F6;
    font-weight: 600;
    color: #03314B;
}

.page-link:hover {
    background-color: #FFC215;
    color: #03314B;
}

.page-link:focus {
    box-shadow: none;
}


/* top menu background scroll*/
.navbar {
    transition: all 0.4s;
}

.navbar.active {
    background-image: url('../../img/top-banner-img.jpg');
    //background-color: #f6f6f6;
}

.fixed-top {
    border-bottom: 0.9px solid #808080;
}


header.navbar {
    display: block;
    padding-top: 0;
    padding-bottom: 0;
}

.mz-src {
    //background-color: #FFF;
    height: 105px;
}

.mz-src .dropdown {
    min-width: 100%;
}

.mz-src .dropbtn {
    padding-top: 0;
}

.mz-src .dropdown-content-dis {
    min-width: 100%;
}

.section-3-grid img {
    width: 88px;
}

.c_form_main ::placeholder {
    color: #CCCCCC;
}

//	.c_form_main input[type=text], .c_form_main input[type=email], .c_form_main textarea {
padding-bottom: 0;
}

.rfr {
    padding-top: 9px;
    padding-bottom: 9px;
}

.mz-src svg {
    //margin-left: 298px;
   // margin-left: 250px;
   margin-left: 270px;
}

.c_br {
border-right: 2px solid rgba(0, 0, 0, 0.1);
}

.menu-infoo h4 {
    text-transform: unset;
}


.main-menu ul li:hover>path{
    stroke: red;
}

.hero-area .slider-active .slick-dots li {
    margin: 0; 
}


.section-5-area .dropdown-content-dis {
    top: 0;
    left: 0;
    min-width: 302px;
}

.section-5-area  .dropdown:hover .dropdown-content {
    top: 0;
    min-width: 302px;

}


.section-5-area .dropdown-content a {
    text-align: center;
}

.office_area iframe{
    filter : grayscale(1)
}

.section-2-area .slick-dots {
    display: none !important;
}

.sm-hero-text {
    display: none;
}

.menu-icon {
    color: #FFF;
}

.main-menu ul li:hover>.menu-icon {
    color: #FFC215;
    transition: 0.35s  ease;
    transform: rotate(180deg);
}

.first-menus a {
    padding-right: 18px !important;
}

.btn-icon:hover {
    //color: #FFC215;
}


.pk-btn .btn:hover {
    background-color: #FFF;
    color: #03314B;
}


.section-8-wrapper-first input[type=text], input[type=email], textarea {
    border: 1px solid transparent;
}

.section-6-wrapper .dropbtn_4 {
    background: rgba(255, 255, 255, 0.5);
}

.user_review_page .row {
    justify-content: space-between;
}






.slick-prev {
   // left: 0;
     }
  
  .slick-next {
   // right: 0; 
   transform: rotate(180deg);
}
  
  .slick-arrow {
    position: absolute;
    font-size: 0;
    cursor: pointer;
    background-color: transparent;
    border: none;
    background-image: url(../../img/sl-arrow.png);
    background-repeat: no-repeat; }

    .slick-prev:before, .slick-next:before {
        font-size: 0;
    }



/** FAQ CSS **/

.card, .card-header {
    background-color: transparent;
    border: none;
    padding: 0;
    margin-bottom: 20px;
    background: #F2F2F2;
    border-radius: 8px;
}

.btn-link {
    width: 100%;
    height: 60px;
    color: #000;
    text-align: left;
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #03314B;
}

.card-body {
    background: #F2F2F2;
    padding-left: 60px;
    padding-right: 140px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #808080;
}

.btn-link::after { 
    content: '\2212';
    width: 36px;
    font-size: 36px;
    top: 30px;
    //top: 45px;
    text-align: center;
    border-radius: 50%;
    right: 15px;
    color: #03314B;
    position: absolute;
    background: #D9DEE0;
}

.btn-link.collapsed::after {
    content: '\002b';
    color: #03314B;
}

.mz-c-faq .btn{
    background: #F1F1F1;
    padding-bottom: 0;
    //padding-top: 36px;
    padding-bottom: 36px;
    padding-left: 60px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #03314B;
    line-height: 1;
}

.card-body {
    padding-top: 0;
}






.todropbtn {
    background: #03314B;
    color: #FFF;
    padding: 10px 16px 10px 16px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    
  }

  .todropbtn_2 {
    background: #FFF;
    color: #03314B !important;
    border-radius: 4px;
    font-weight: 600;
}
  
  
  #tomyInput {
    box-sizing: border-box;
    background-image: url('../../img/searchicon.png');
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
    border-radius: 0;
  }
  

  
  .todropdown {
    position: relative;
    display: inline-block;
  }
  
  .todropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #ffffff;
    min-width: 302px;
    z-index: 1;
    text-align: center;
    box-shadow: 0px 40px 60px rgba(0, 0, 0, 0.07);
    top: 39px;
  }
  
  .todropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1;
    color: #03314B;
    text-align: left;
    opacity: 0.5;
  }

  .todropdown-content a:hover { 
    opacity: 1;
    background-color: #F6F6F6;
  }
  
  .toshow {display: block;}





  .todropbtn1 {
    background: #03314B;
    color: #FFF;
    padding: 9px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    padding-left: 17px;
  }

  .todropbtn_2 {
    background: #FFF;
    color: #03314B !important;
}
  
  
  #tomyInput1 {
    box-sizing: border-box;
    background-image: url('../../img/searchicon.png');
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
    border-radius: 0;
  }
  

  
  .todropdown1 {
    position: relative;
    display: inline-block;
  }
  
  .todropdown-content1 {
    display: none;
    position: absolute;
    right: 0;
    background-color: #ffffff;
    min-width: 302px;
    z-index: 1;
    text-align: center;
    box-shadow: 0px 40px 60px rgba(0, 0, 0, 0.07);
    top: 38px;
  }
  
  .todropdown-content1 a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1;
    color: #03314B;
    text-align: center;
    opacity: 0.5;
  }
  
  .toshow {display: block;}








  .section-5-area .dropdown:hover .dropdown-content {
    top: 39px !important;
  }


  .section-6-wrapper .todropbtn1 {
        color: #03314B;
        padding: 35px 253px;
        box-shadow: 0px 6px 60px rgb(0 0 0 / 6%);
        border-radius: 8px;
    }





    /*** Active Menu **/

    .main-menu ul li>.moz-active {
        color: #FFC215;
        background-color: rgba(255, 255, 255, 0.05);
    }


    .main-menu ul li>.moz-active:after {
        content: "";
        position: absolute;
        display: block;
        left: 0;
        right: 0;
        bottom: 0;
        height: 3px;
        background: #FFC215;
    }



   // .moz-menu > li > a:focus { 

    color: #FFC215;
    background-color: rgba(255, 255, 255, 0.05);
}


    .mz-src {
        margin-bottom: 15px;
        padding-top: 35px;
    }


    .mz-src .dropbtn_2 {
        text-align: left;
    }







    .more{
        display: none;
    }
    .post{
        color: #e5e5e5;
        font-size: 18px;
        text-align: justify;
        line-height: 25px;
        font-family: 'Work Sans',sans-serif;
    }
    .post:not(:last-child){
        margin-bottom: 30px;
    }
    button{
        margin-top: 15px;
        display: block;
        background-color: #e41d3f;
        color: white;
        border:none;
        outline: none;
        padding: 8px 20px;
        text-transform: capitalize;
        cursor: pointer;
        font-size: 20px;
    }


    .user-profile {
        background-color: #03314B;
       // height: 100vh;
        padding-top: 30px;
    }


    .u-s-footer {
        background-color: #02273C;
        padding-top: 5px;
        padding-bottom: 5px;
 
    }

    .u-s-footer p {
        text-align: center;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        color: #FFFFFF;
    }

    .admin-img {
        border-radius: 50%;
    }

    .user-info {
        display: inline-block;
    }

    .user-card {
        padding-bottom: 20px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    }

    .user-card h5 {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 300;
        font-size: 22px;
        line-height: 33px;
        color: #CCCCCC;
        text-shadow: 0px 18px 50px rgba(0, 0, 0, 0.04);
        margin-left: 20px;
        text-align: left;
    }

    .user-card h6 {
        text-align: left;
        margin-left: 20px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 27px;
        text-decoration-line: underline;
        color: #FFFFFF;
        text-shadow: 0px 18px 50px rgba(0, 0, 0, 0.04);
    } 


    .admin-sidebar {
        margin-top: 20px;
    }

    .mz-components li {
        margin-top: 15px;
        margin-bottom: 15px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .mz-components li a {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 22px;
        line-height: 33px;
        color: #FFFFFF;
        text-shadow: 0px 18px 50px rgba(0, 0, 0, 0.04);

    }

    
    .mz-components li a:hover {
        color: #FFC215;
        transition: 0.3s;

    }

    .mz-components li:hover {
        border-right: 8px solid #FFC215;
        transition: 0.3s;
    }

    .admin-support {
        margin-top: 550px;
    }


    .sp-text {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        color: #FFFFFF;

    }

    .sp-call {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 22px;
        line-height: 33px;
        text-align: center;
        color: #FFFFFF;
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        padding-bottom: 28px;
    }

    .user_profile_form {
        max-width: 1260px;
        margin: 0 auto;
        background: #F1F1F1;
        border-radius: 8px;
        margin: 118px 144px 118px 131px;
        padding: 125px 211px;
    }

    .user_profile_form h2 {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 275;
        font-size: 60px;
        line-height: 70px;
        color: #4D4D4D;
        padding-bottom: 20px;
        margin-bottom: 34px;
        border-bottom: 1px solid #CCCCCC;
    }

    .c_form_main_2 {
        background: unset;
        padding-bottom: 0;
    }

    .c_form_main .container {
        background-color: unset;
    }

    .c_form_main .bg-c {
        background-color: #F9F9F9;
    }


    


    .select2-container .select2-selection--single .select2-selection__clear {
        //display: none;
    }
    

    .cov_f {
    color: #03314B;
    box-shadow: 0px 6px 60px rgb(0 0 0 / 6%);
    border-radius: 8px;
    padding: 25px 0 25px 50px;
    width: 250px;
    }

    *:focus {
        outline: none;
    }

    .form-select:focus {
        border-color: unset;
        box-shadow: none;
    }


    .cus-sl-fl {
        font-size: 20px;
        padding: 9px;
        font-weight: 600;
        border: none;
        cursor: pointer;
        padding-left: 17px;
        padding-right: 17px;
        color: #03314B !important;
        border-radius: 4px;
        width: 140px !important;

    }


    .cus-sl-fl option {
        font-size: 18px;
        font-weight: 600;
        color: #03314B !important;
        background: #FFF;
    }


    .new-cus-test {
        display: block;
    }

    .new-cus-test select {
        display: inline-block;
        appearance: auto;
        background-image: none;

    }
    
    .new-rat {
        background-color: #03314B;
        color: #FFF !important;
        appearance: auto;
    }

    .mz-src .dropbtn {
        font-size: 19px;
    }


    .mz-components .mz-zom-active{
        color: #FFC215;
    }

    .mz-zom-active-2 {
        border-right: 8px solid #FFC215;
    }



     /** Updated Css **/

     .menu-icon {
        margin-left: -15px;
        margin-right: 30px;
    }


    .select2-container--default .select2-selection--single {
    border-radius: 4px;
    font-weight: 600;
    border: none;
    text-align: left;
    }

    .select2-container--default .select2-results>.select2-results__options {
        max-height: unset;
    }

    .select2-container--open .select2-dropdown--below {
        border: none;
    }


    .cov_f {
        width: 377px;
    }


    .mz-mod  {
        background: #03314B;
            box-shadow: 0px 6px 60px rgba(0, 0, 0, 0.06);
            backdrop-filter: blur(20px);
            border-radius: 0px 0px 8px 8px;
            padding-bottom: 50px;
    }

    .mz-mod .mod-close {
        padding: 0;
    background-color: transparent;
    font-size: 30px;
    margin-top: 0;
   
    }

    .mz-mod .modal-header {
        border-bottom: 0;
    }

    .mz-mod .modal-footer {
        border-top: 0;
        display: block;
        text-align: center;
    }

    .mz-mod .modal-body h2 {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        text-align: center;
        color: #FFFFFF;
    }

    .mz-mod .modal-footer .btn:hover{ 
        background: #FFC215 none repeat scroll 0 0;
        color: #03314B;
    }

    .sml-branch {
        height: 400px !important;
    }

    @media (min-width: 768px) and (max-width: 1200px) {
        
    .sml-branch {
        height: 250px !important;
    }
    }

    @media only screen and (max-width: 767px) {
        .sml-branch { 
            height: 300px !important;
        }
        
    }
